[core]
  excludesfile = .gitignore
  editor = lvim

[init]
  defaultBranch = master

[includeIf "gitdir:~/Code/0rb1t/"]
  path = .gitconfig.orbit

[includeIf "gitdir:~/Code/ayoub/"]
  path = .gitconfig.ayoub

[includeIf "gitdir:~/Code/42/"]
  path = .gitconfig.42

[alias]
  st = status
  lg = log --oneline
  df = diff
  ci = commit -m
