[core]
  excludesfile = .gitignore
  editor = lvim

[init]
  defaultBranch = master

[include]
  path = .gitconfig.ayoub

[includeIf "gitdir:~/code/orbit/"]
  path = .gitconfig.orbit

[includeIf "gitdir:~/code/42/"]
  path = .gitconfig.42

