@define-color clear rgba(0, 0, 0, 0.0);
@define-color fg #cdd6f4;
@define-color bg #1e1e2e;
@define-color brd #b4befe;
@define-color ip_bg #585b70;
@define-color slt_bg #7f849c;

window {
    border: 1px solid @brd;
    background-color: @bg;
    border-radius: 16px;
    font-family: "Noto Sans";
}

#input {
    padding: 4px 6px;
    margin: 4px;
    border: none;
    color: @fg;
    background-color: @ip_bg;
   	outline: none;
}

#inner-box {
    margin: 4px;
    border: 0px solid;
    background-color: @clear;
    border-radius: 8px;
}

#outer-box {
    margin: 14px;
    border: none;
    border-radius: 8px;
    background-color: @clear;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
  margin-left: 8px;
}

#text:selected {
    color: @fg;
    border: none;
    border-radius: 8px;
}

#entry {
    min-height: 30px;
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: @slt_bg;
}
